.nav-wrap {
  nav {
    .dish-search-form {
      .search-user {
        position: relative;
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .wrapper {
          width: 280px;
          position: absolute;
          z-index: 1;
          .search-input {
            display: flex;
            flex-direction: column;
            //background: lightblue;
            input {
              height: 3.2rem;
              border-radius: 4px;
              //background: #f4f2f2;
              font-family: "Inter", sans-serif;

              margin-top: -0.3rem;
              padding: 0.3rem 1rem;
              font-size: 1.2rem;
              box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
              border: none;
              outline: 1px solid gray;
            }
            .autocom-box {
              background: white;
              box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
              border-radius: 4px;
              max-height: 250px;
              margin-top: 3px;
              overflow-y: scroll;
              opacity: 0;
              li {
                list-style: none;
                padding: 0.5rem 1rem;
                font-size: 1.3rem;
                //overflow-y: scroll;
                cursor: default;
                border-radius: 4px;
                display: none;
              }
              li:hover {
                background: #efefef;
              }
            }

            .active {
              opacity: 1;
              li {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
